.scrollclass{
   overflow-y: scroll;
}

.scrollhidden{
    overflow: hidden;
}


.scrollclass::-webkit-scrollbar {
    width: 12px; 
    height: 12px; 
  }
  

  .scrollclass::-webkit-scrollbar-track {
    background-image:linear-gradient(#031a3e);
    border-radius: 10px;
  }
  
  .scrollclass::-webkit-scrollbar-thumb {
    background: #04111b; 
    border-radius: 10px;
  }
  
  
  .scrollclass::-webkit-scrollbar-thumb:hover {
    background: #04111b; 
  }
  
  .scrollclass::-webkit-scrollbar-corner {
    background: #f0f0f0; 
  }
  